$color--primary : #f9ed69;
$color--secondary : #b83b5e;
$color--tertiary: #6a2c70;
$color--quaternary:#f08a5d;
$text--color--primary:#212121;
$text--color--secondary:#bdbdbd;
$text--color--tertiary:#757575;
$color--black:#000;